{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<form role="form" action="{{ reverse_url('login') }}" id="login-form" method="POST">
			<h2>Please Log In</h2>
			<hr class="colorgraph">
			{{ xsrf() }}

			{% for field in form %}
				<div class="form-group">
					<ul class="error">
					{% for e in field.errors %}
						<li>{{ e }}</li>
					{% endfor %}
					</ul>
					{{ field(class_="form-control input-lg", placeholder=field.label.text) }}
				</div>
			{% endfor %}

            <ul class="error">
            {% for e in form.errors.whole_form %}
                <li>{{ e }}</li>
            {% endfor %}
            </ul>

			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12"><input id="login-button" type="submit" value="Login" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
			</div>
		</form>
	</div>
</div>
{% endblock %}