{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block content %}
<div class="col-sm-12 content clearfix">
	<div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Edit Profile</h2>
        {% if success %}
            <p>Profile was successfully edited.</p>
        {% endif %}

        <hr class="colorgraph">
            <form method="POST" action="{{ reverse_url('profile') }}" role="form" id="profile">
                {{ xsrf() }}

                {{ form.hidden_tag() if form.hidden_tag }}

                {% for f in form %}
                    {% if f.name == 'birth_date' %}
                        {{ forms.render_date_field(f, value=obj[f.name]) }}
                    {% elif f.name == 'photo' %}
                        {{ forms.render_file_field(f, value=obj[f.name]) }}
                    {% else %}
                        {{ forms.render_field(f, value=obj[f.name]) }}
                    {% endif %}
                {% endfor %}

                <ul class="error">
                {% for e in form.errors.whole_form %}
                    <li>{{ e }}</li>
                {% endfor %}
                </ul>

                <button type="submit" class="btn btn-default">Save</button>
            </form>
         <hr class="colorgraph">
    </div>
</div>
{% endblock %}