{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<form role="form" action="{{ reverse_url('signup') }}" id="signup-form" method="POST">
			<h2>Please Sign Up</h2>
			<hr class="colorgraph">
				{{ xsrf() }}

				{% for field in form %}
				<div class="form-group">
					<ul class="error">
					{% for e in field.errors %}
						<li>{{ e }}</li>
					{% endfor %}
					</ul>
					{{ field(class_="form-control input-lg", placeholder=field.label.text) }}
				</div>
				{% endfor %}

                {% for e in form.errors.whole_form %}
                    <li>{{ e }}</li>
                {% endfor %}

				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12"><input id="signup-button" type="submit" value="Sign Up" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
				</div>
		</form>
	</div>
</div>
{% endblock %}