{% macro form_by_type(field) %}
    {% if field.type == 'DateTimeField' %}
        {{ field(class_="form-control input-lg datetime") }}
    {% elif field.type == 'DateField' %}
        {{ field(class_="form-control input-lg date") }}
    {% else %}
        {{ field(class_="form-control input-lg") }}
    {% endif %}
{% endmacro %}


{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
            {{ field.label }}
        {% endif %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}


{% macro render_checkbox_field(field, checked=false) -%}
    <div class="checkbox">
        <label>
            {% if checked %}
            {{ field(type='checkbox', checked='checked', **kwargs) }} {{ field.label }}
            {% else %}
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
            {% endif %}
        </label>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}


{% macro render_radio_field(field, checked=false) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"
                        {% if checked %}checked{% endif %}>{{ label }}
            </label>
        </div>
    {% endfor %}
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% macro render_date_field(field, label_visible=true) -%}
<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
        {{ field.label }}
    {% endif %}
    <div class='input-group date' id='datetimepicker_{{ field.id }}'>
        {{ field(type='text', class="form-control", **kwargs) }}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker_{{ field.id }}').datetimepicker({
            format: 'DD.MM.YYYY',
            minDate: moment('01.01.1990', 'DD.MM.YYYY'),
            maxDate: moment()
        });
    });
</script>
{%- endmacro %}


{% macro render_file_field(field, label_visible=true) -%}
<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
        {{ field.label }}
    {% endif %}
    <input id="fileinput_{{ field.id }}" type="file" class="file">
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
</div>
<script type="text/javascript">
    $(function () {
        $('#fileinput_{{ field.id }}').fileinput({
            fileTypes: 'image',
            maxFileSize: 10
        });
    });
</script>
{%- endmacro %}
